// @version 1.0.2
@require '~bootstrap/dist/css/bootstrap.min.css'

/* Reset CSS after Bootstrap */
@require 'vendors/reset.css'

/* Global mixins & extends */
@require 'mixins/_index'
@require 'modules/base_init' // Box model, Antialiased, Resets, Selection styles, Scroll bar styles.

/* Global styles */
@require 'modules/base_init'
@require 'modules/base_bootstrap'
@require 'modules/base_color'
@require 'modules/base_common'
@require 'modules/base_font'
@require 'modules/base_keyframes'
@require 'modules/base_position'
@require 'modules/base_spacing'
@require 'modules/base_spacing_between'
@require 'modules/base_container'

@require 'modules/flexbox_flex'
@require 'modules/layout_inset'
@require 'modules/layout_row_columns'
@require 'modules/layout_size'
@require 'modules/layout_z-index'
@require 'modules/layout_object_fit'
@require 'modules/vue_transition'

/* Modules */
@require 'modules/typography_letter-spacing'
@require 'modules/typography_line-height'
@require 'modules/typography_list-style'
@require 'modules/typography'

@require 'modules/button'
@require 'modules/form'
@require 'modules/form-input' // input, textarea
@require 'modules/form-select' // select, date
@require 'modules/form-radio' // radio, checkbox
  
@require 'modules/3party' // 第三方套件

/* 該專案客製化的組件 */
@require 'modules/news'