@require 'common'

.page-guide
  .section
    padding 1rem
    border 1px solid #cbd5e0
    background-color white
    border-radius 0.5rem
    .section-main-text
      background-color #ff0000
    & + .section
      margin-top 1.2rem
  .demo-text
    font-size 0.875rem
    color #718096
    margin-bottom 0.25rem
  .demo-p
    margin-bottom 1.5rem
  .demo-box
    width 80px
    height @width
  .demo-line
    width 100%
    height 1px
    background-color black
    margin 2rem 0
