.h1 Texts, Links
p.h3
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, dolorum. Eius necessitatibus maiores mollitia odit vitae magni quasi iusto dicta. Rerum dolorem animi voluptas eaque illum odio tempora perferendis officiis.
  p     
    a.style-link(href="#") Lorem ipsum dolor
    br
    b sit amet consectetur,
    br
    u adipisicing elit.
    br
    s Vitae ab repellat nemo asperiores ut magnam, 
    br
    small Aliquam necessitatibus labore laboriosam alias architecto,
    br
    strong officia illum assumenda ex dolorum.
    br
    em facilis consequuntur eaque odit?
  blockquote
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, corporis temporibus. Nulla similique ab molestiae harum deleniti nobis laboriosam, nisi labore dolore non quis eveniet, nesciunt quibusdam iste sequi voluptatum.
  .d-block.mt-4(style="max-width:22em")
    .demo-text normal
    p.mb-3 臣亮言：先帝創業未半，而中道崩殂。今天下三分，益州疲弊，此誠危急存亡之秋也。然侍衛之臣，不懈於內；忠志之士，忘身於外者，蓋追先帝之殊遇，欲報之於陛下也。誠宜開張聖聽，以光先帝遺德，恢弘志士之氣；不宜妄自菲薄，引喻失義，以塞忠諫之路也。宮中府中，俱為一體，陟罰臧否，不宜異同。若有作姦犯科，及為忠善者，宜付有司，論其刑賞，以昭陛下平明之治，不宜篇私，使內外異法也。
    .demo-text justify
    p.mb-3.text-justify 臣亮言：先帝創業未半，而中道崩殂。今天下三分，益州疲弊，此誠危急存亡之秋也。然侍衛之臣，不懈於內；忠志之士，忘身於外者，蓋追先帝之殊遇，欲報之於陛下也。誠宜開張聖聽，以光先帝遺德，恢弘志士之氣；不宜妄自菲薄，引喻失義，以塞忠諫之路也。宮中府中，俱為一體，陟罰臧否，不宜異同。若有作姦犯科，及為忠善者，宜付有司，論其刑賞，以昭陛下平明之治，不宜篇私，使內外異法也。
    .demo-text justify + last justify
    p.mb-3.text-justify(style="text-align-last:justify") 臣亮言：先帝創業未半，而中道崩殂。今天下三分，益州疲弊，此誠危急存亡之秋也。然侍衛之臣，不懈於內；忠志之士，忘身於外者，蓋追先帝之殊遇，欲報之於陛下也。誠宜開張聖聽，以光先帝遺德，恢弘志士之氣；不宜妄自菲薄，引喻失義，以塞忠諫之路也。宮中府中，俱為一體，陟罰臧否，不宜異同。若有作姦犯科，及為忠善者，宜付有司，論其刑賞，以昭陛下平明之治，不宜篇私，使內外異法也。