for name, color in BOOSTRAP_COLORS
  .text-{name} // override bootstrap
    color color !important
  .bg-{name} // override bootstrap
    background-color color !important
  .border-{name} // override bootstrap
    border-color color !important