.relative-center
  position relative
  margin-left auto
  margin-right auto
.absolute-center
  position absolute
  left 50%
  top 50%
  transform: translate(-50%, -50%)

.absolute-x-align
  position absolute
  left 50%
  transform translateX(-50%)
.absolute-y-align
  position absolute
  top 50%
  transform translateY(-50%)