.flex-center
  display flex
  justify-content center
  align-items center
.inline-flex-center
  display flex
  justify-content center
  align-items center
.flex-content-center
  display flex
  justify-content center
.flex-align-center
  display flex
  align-items center