// https://tailwindcss.com/docs/letter-spacing
.letter-spacing-n2
  letter-spacing -0.05em
.letter-spacing-n1
  letter-spacing -0.025em
.letter-spacing-0
  letter-spacing 0
.letter-spacing-1
  letter-spacing 0.025em
.letter-spacing-2
  letter-spacing 0.05em
.letter-spacing-3
  letter-spacing 0.1rem
